<%= form_for(@direito_tributario) do |f| %>
  <% if @direito_tributario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@direito_tributario.errors.count, "error") %> prohibited this direito_tributario from being saved:</h2>

      <ul>
      <% @direito_tributario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :conteudo %><br />
    <%= f.text_area :conteudo %>
  </div>
  <div class="field">
    <%= f.label :autor %><br />
    <%= f.text_field :autor %>
  </div>
  <div class="field">
    <%= f.label :data %><br />
    <%= f.date_select :data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
