<div class="row">
	<hr>
	<h1>Artigos</h1>
   <!-- Main Blog Content -->
   <div class="large-9 columns" role="content">

     <article>
		 <% @artigos.each do |artigo| %><hr>
       <h3><%= artigo.titulo %></h3>
       <h6>Autor: <%= artigo.autor %></h6>

       <div class="row">
         <div class="large-12 columns">
           <p><%= truncate(artigo.conteudo, :length => 400)  %></p>
		   <h8>Data: <%= artigo.data %></h8>
		   <p><%= link_to 'leia mais', artigo %></p>
         </div>
          
       </div>

       	<% end %>

     </article>

    

    
   </div>

   <!-- End Main Content -->


   <!-- Sidebar -->

   <aside class="large-3 columns">

     <h5>Livros</h5>


     <div class="panel">
       <%= image_tag "livro-contratos-teoria-pratica.jpeg" %>
     </div>

     <div class="panel">
       <%= image_tag "livro-manual-direito-individual-trabalho.jpeg" %>
     </div>
	 
     <div class="panel">
       <%= image_tag "livro-direito-razao.jpeg" %>
     </div>
	 
   </aside>

   <!-- End Sidebar -->
   
   
 </div>

 <!-- End Main Content and Sidebar -->
