
</div>

<div class="row">
  
    
    
    <div class="large-7 columns">
		
        <h4>Minha História</h4>
      
        <p>Antônio Martins de Farias é natural de Pernambuco, e iniciou sua vida profissional no Rio de Janeiro (R.J.) e, em Brasília (D. F.), concluiu seu primeiro Curso Superior, sendo Bacharelado em Ciências Contábeis, pela Uneb.</p>
 
        <p>Dede 1991, fixou residência na cidade do Rio de Janeiro, onde, em 2011, concluiu o Curso de Direito, pela Faculdade Moraes Júnior – Mackenzie Rio, tendo sido aprovado no VIII Exame da OAB, em 2012.</p>
 
        <p>Mesmo atuando como Contador e prestando serviços para diversas pequenas e médias empresas no Estado do Rio de Janeiro, exerce, ainda, a Advocacia, nas áreas de lides tributárias, previdenciárias, além de daquelas afetas ao direito do consumidor e trabalhistas.</p>
    
      <!-- Gallery sidebar with a block grid. Note: block grid items should be the same size for optimal results -->
      
      <!-- <ul class="small-block-grid-3">
        <li><a href="#"><img src="http://placehold.it/120x120" /></a></li>
        <li><a href="#"><img src="http://placehold.it/120x120" /></a></li>
        <li><a href="#"><img src="http://placehold.it/120x120" /></a></li>
        <li><a href="#"><img src="http://placehold.it/120x120" /></a></li>
        <li><a href="#"><img src="http://placehold.it/120x120" /></a></li>
        <li><a href="#"><img src="http://placehold.it/120x120" /></a></li>
      </ul> -->
    </div>
    <div class="large-5 columns">
		
      <h5>Últimas Notícias</h5>
	  <% @informes.each do |informe| %><hr style="border:1px dashed #000000;">
      <p><%= truncate(informe.conteudo, :length => 200, separator: ' ') %> <%= link_to '( Leia Mais )', informe %></p>
	  <% end %>
	  
	  <% @clausulas.each do |clausula| %><hr style="border:1px dashed #000000;">
      <p><%= truncate(clausula.conteudo, :length => 200, separator: ' ') %> <%= link_to '( Leia Mais )', clausula %></p>
	  <% end %>
	  
	  <% @decisaos.each do |decisao| %><hr style="border:1px dashed #000000;">
      <p><%= truncate(decisao.conteudo, :length => 200, separator: ' ') %> <%= link_to '( Leia Mais )', decisao %></p>
	  <% end %>
    </div>    
  </div>
<script>
  $(document).foundation('orbit', {
  	animation: 'fade',
	bullets: false,
	timer_speed: 5000,
	animation_speed: 1000,
	navigation_arrows: false,
	slide_number: false,
	pause_on_hover: false,
  });
</script>	