<div class="row">
	<hr>
	<div class="large-12 columns">
		<h3>LInks Úteis</h3>
		<div class="row">
			<div class="large-4 small-12 columns">
				<ul class="side-nav">
  				  <li><%= link_to "Tribunal Regional Federal - 2ª Região", "http://www.trf2.jus.br/Paginas/paginainicial.aspx?js=1&js=1" %></li>
  				  <li class="divider"></li>					
				  <li><%= link_to "Tribunal Regional do Trabalho - 1ª Região", "http://www.trt1.jus.br/" %></li>
				  <li class="divider"></li>
				  <li><%= link_to "Tribunal de Contas da União", "http://portal2.tcu.gov.br/TCU" %></li>
				  <li class="divider"></li>
				  <li><%= link_to "Tribunal de Justiça do Rio de Janeiro", "http://www.tjrj.jus.br/web/guest" %></li>
				  <li class="divider"></li>
				  <li><%= link_to "Supremo Tribunal Federal", "http://www.stf.jus.br/portal/principal/principal.asp" %></li>
				  <li class="divider"></li>
				  <li><%= link_to "Superior Tribunal Federal", "http://www.stj.gov.br/portal_stj/publicacao/engine.wsp" %></li>
				  <li class="divider"></li>
				  <li><%= link_to "Secretaria Estadual de Fazenda do Rio", "http://www.fazenda.rj.gov.br/sefaz/faces/servicos?_afrLoop=1180970674874000&_afrWindowMode=0&_adf.ctrl-state=fv4f1wmcd_4" %></li>
				</ul>
			</div>
			
			<div class="large-4 small-12 columns">
				<%= image_tag "handshake1.jpg" %>
			</div>
			
			<div class="large-4 small-12 columns">
				<ul class="side-nav">
  				  <li><%= link_to "OAB-RJ", "http://www.oabrj.org.br/" %></li>
  				  <li class="divider"></li>
  				  <li><%= link_to "Advocacia Geral da União", "http://www.agu.gov.br/sistemas/site/templatesitehome.aspx" %></li>
  				  <li class="divider"></li>
  				  <li><%= link_to "Procuradoria Geral da Fazenda", "http://www.pgfn.fazenda.gov.br/" %></li>
  				  <li class="divider"></li>
  				  <li><%= link_to "Procuradoria Geral do Estado do RJ", "http://www.rj.gov.br/web/pge" %></li>
  				  <li class="divider"></li>
  				  <li><%= link_to "Ministério Público do Estado do RJ", "http://www.mprj.mp.br/" %></li>
  				  <li class="divider"></li>
  				  <li><%= link_to "Defensoria Pública do Estado do RJ", "http://www.portaldpge.rj.gov.br/Portal/" %></li>
				</ul>
			</div>
			
		</div>
	</div>
</div>

 




