<div class="row">
	<hr>
	<div class="large-12 columns">
		<h3>LInks Úteis</h3>
		<div class="row">
			<div class="large-4 small-12 columns">
				<ul class="side-nav">
  				  <li><%= link_to "TRIBUNAL REGIONAL FEDERAL - 2ª REGIÃO", "http://www.trf2.jus.br/Paginas/paginainicial.aspx?js=1&js=1" %></li>
  				  <li class="divider"></li>					
				  <li><%= link_to "TRIBUNAL REGIONAL DO TRABALHO", "http://www.trt1.jus.br/" %></li>
				  <li class="divider"></li>
				  <li><%= link_to "TRIBUNAL DE CONTAS DA UNIÃO", "http://portal2.tcu.gov.br/TCU" %></li>
				  <li class="divider"></li>
				  <li><%= link_to "TRIBUNAL DE JUSTIÇA DO RIO DE JANEIRO", "http://www.tjrj.jus.br/web/guest" %></li>
				  <li class="divider"></li>
				  <li><%= link_to "SUPREMO TRIBUNAL FEDERAL", "http://www.stf.jus.br/portal/principal/principal.asp" %></li>
				  <li class="divider"></li>
				  <li><%= link_to "SUPERIOR TRIBUNAL DE JUSTIÇA", "http://www.stj.gov.br/portal_stj/publicacao/engine.wsp" %></li>
				  <li class="divider"></li>
				  <li><%= link_to "SECRETARIA ESTADUAL DE FAZENDA DO RIO", "http://www.receita.fazenda.gov.br/;http://www.rio.rj.gov.br/" %></li>
				</ul>
			</div>
			
			<div class="large-4 small-12 columns">
				<%= image_tag "handshake1.jpg" %>
			</div>
			
			<div class="large-4 small-12 columns">
				<ul class="side-nav">
  				  <li><%= link_to "OAB-RJ", "http://www.oabrj.org.br/" %></li>
  				  <li class="divider"></li>
  				  <li><%= link_to "ADVOCACIA GERAL DA UNIÃO", "http://www.agu.gov.br/sistemas/site/templatesitehome.aspx" %></li>
  				  <li class="divider"></li>
  				  <li><%= link_to "PROCURADORIA GERAL DA FAZENDA", "http://www.pgfn.fazenda.gov.br/" %></li>
  				  <li class="divider"></li>
  				  <li><%= link_to "PROCURADORIA GERAL DO ESTADO RJ", "http://www.rj.gov.br/web/pge" %></li>
  				  <li class="divider"></li>
  				  <li><%= link_to "MINISTERIO PÚBLICO DO ESTADO RJ", "http://www.mprj.mp.br/" %></li>
  				  <li class="divider"></li>
  				  <li><%= link_to "DEFENSORIA PÚBLICA DO ESTADO RJ", "http://www.portaldpge.rj.gov.br/Portal/" %></li>
				</ul>
			</div>
			
		</div>
	</div>
</div>

 




