<div class="section-container auto" data-section="" style="">
  <section class="section active" style="padding-top: 52px;">


    
    <div class="content" data-slug="panel1" style="">
		<h5>Contate nosso escritório</h5></br>

<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2>Ops! Corrija os erros abaixo para que possamos mandar as informações para seu email.</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


		<div class="large-2 columns">
    		<%= f.label :nome , class: "inline" %>
    	</div>
		<div class="large-10 columns">
    		<%= f.text_field :name %>
    	</div>

  

  		<div class="large-2 columns">
    		<%= f.label :email , class: "inline" %>
    	</div>
		<div class="large-4 columns">
    		<%= f.text_field :email %>
    	</div>
		<div class="large-1 columns">
			<p> </p>
    	</div>
		<div class="large-1 columns">
    		<%= f.label :telefone, class: "inline" %>
    	</div>
		<div class="large-4 columns">
    		<%= f.text_field :phone %>
  		</div>

  
  

    	<div class="large-2 columns">
    		<%= f.label :mensagem, class: "inline" %>
    	</div>
		<div class="large-10 columns">
    		<%= f.text_area :message %>
  		</div>
</br></br>
 

    <%= f.submit :class => 'radius button' %>

  
<% end %>



      
    </div>
  </section>
  
</div>
<script>
  $(document).foundation('orbit', {
  	animation: 'fade',
	bullets: false,
	timer_speed: 5000,
	animation_speed: 1000,
	navigation_arrows: false,
	slide_number: false,
	pause_on_hover: false,
  });
</script>	
