<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @noticium.titulo %>
</p>

<p>
  <b>Conteudo:</b>
  <%= @noticium.conteudo %>
</p>

<p>
  <b>Autor:</b>
  <%= @noticium.autor %>
</p>


<%= link_to 'Edit', edit_noticium_path(@noticium) %> |
<%= link_to 'Back', noticia_path %>
