<div class="row">
	<hr>
   <!-- Main Blog Content -->
   <div class="large-9 columns" role="content">

     <article>

       <h3><a href="#">Artigos</a></h3>
       <h6>Written by <a href="#">John Smith</a> on August 12, 2012.</h6>

       <div class="row">
         <div class="large-12 columns">
			 <p class="notice"><%= notice %></p>
 
			 <h2><%= @post.titulo %></h2>
			 <p><%= @post.conteudo %></p>
         </div>
         <div class="large-6 columns">
           <img src="http://placehold.it/400x240&text=[img]" />
         </div>
       </div>

     </article>

     <hr />


   </div>

   <!-- End Main Content -->


   <!-- Sidebar -->

   <aside class="large-3 columns">

     <h5>Categorias</h5>
     <ul class="side-nav">
       <li><a href="#">Notícias</a></li>
       <li><a href="#">Artigos</a></li>
       <li><a href="#">Decisão do STF</a></li>
       <li><a href="#">Fun</a></li>
       <li><a href="#">Weasels</a></li>
     </ul>

     <div class="panel">
       <h5>Featured</h5>
       <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
       <a href="#">Read More &rarr;</a>
     </div>

   </aside>

   <!-- End Sidebar -->
 </div>

 <!-- End Main Content and Sidebar -->




<h1>Meu Blog</h1>
<p class="notice"><%= notice %></p>
 
<h2><%= @post.titulo %></h2>
<p><%= @post.conteudo %></p>
 
<h3>Comentarios</h3>
<% @post.comentarios.each do |comentario| %>
  <p>
    <b>Autor:</b>
    <%= comentario.autor %>
  </p>
 
  <p>
    <b>Comentario:</b>
    <%= comentario.conteudo %>
  </p>
<p>
  <%= link_to 'Apagar Comentario', [comentario.post, comentario],
               :confirm => 'Tem certeza?',
               :method => :delete %>
</p
<hr />
<% end %>
 
<h3>Adicione um comentario:</h3>
<%= form_for([@post, @post.comentarios.build]) do |f| %>
  <div class="field">
    <%= f.label :autor %><br />
    <%= f.text_field :autor %>
  </div>
  <div class="field">
    <%= f.label :conteudo %><br />
    <%= f.text_area :conteudo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
 
<br />
 
<%= link_to 'Editar Post', edit_post_path(@post) %> |
<%= link_to 'Voltar aos Posts', posts_path %>

