
<div class="row">
	<hr>
   <!-- Main Blog Content -->
   <div class="large-9 columns" role="content">
	   <h1>Decisões dos Tribunais</h1>
     <article>
		 <% for decisao in @decisaos.reverse %><hr />
       <h3><%= decisao.titulo %></h3><br />

       <div class="row">
         <div class="large-12 columns">
           <p><%= truncate(decisao.conteudo, :length => 325, separator: ' ') %></p>
         </div>
       </div>
	   <h8>Autor: <%= decisao.autor %></h8><br /><br />
	   <h8>Data: <%= decisao.data %></h8><br /><br />
	   <h8><%= link_to 'Leia Mais', decisao %></h8>

	 <% end %>
     </article>

     

   

   </div>

   <!-- End Main Content -->


   <!-- Sidebar -->

   <aside class="large-3 columns">

     <h5>Categorias</h5>
     <ul class="side-nav">
       <li><a href="#">Notícias</a></li>
       <li><a href="#">Artigos</a></li>
       <li><a href="#">Decisão dos Tribunais</a></li>
     </ul>

     <div class="panel">
 		<ul data-orbit>
 		  <li>
 		    <%= link_to image_tag("livro-direito-imobiliario.jpeg", :border=>0), 'https://www.facebook.com/antonio.martinsdefarias?fref=ts'%>
 		  </li>
 		  <li>
 		    <%= link_to image_tag("livro_direito-tributario.jpeg", :border=>0), 'https://www.facebook.com/antonio.martinsdefarias?fref=ts'%>
 		  </li>
 		  <li>
 		    <%= link_to image_tag("livro-direito-civil.jpeg", :border=>0), 'https://www.facebook.com/antonio.martinsdefarias?fref=ts'%>
 		  </li>
 		</ul>
     </div>

   </aside>

   <!-- End Sidebar -->
 </div>

 <!-- End Main Content and Sidebar -->
 
 <script>
   $(document).foundation('orbit', {
   	animation: 'fade',
 	bullets: false,
 	timer_speed: 5000,
 	animation_speed: 1000,
 	navigation_arrows: false,
 	slide_number: false,
 	pause_on_hover: false,
   });
 </script>	

